.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ClemsonLogo {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 80px;
  height: auto;
  opacity: 0.95;
}


/* Chat bot Styling */

#BookingAssistantButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: red;

  display: flex;
  align-items: center;
}

#BookingAssistantButton:hover {
  cursor:pointer;
}

#BookingAssistantButton-button{
  border:none;
  background-color: transparent;
  width: fit-content;
}

#BookingAssistantChat {
  border-color: black;
  border-width: 1px;
  border-style: solid;

  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 500px;
  height: 100%;

  display:grid;
  grid-template-rows: 1fr 19fr;
}

#BookingAssistantChatHeader{

  display:grid;
  grid-template-columns: 9fr 1fr;
}

#BookingAssistantChatHeaderTitle{
  display:flex;
  align-items:center;
  justify-content: center;

  font-size: larger;
  font-weight: 800;

  color: white;
  background-color: black;
}

#BookingAssistantChatHeaderExit{
  background-color: red;
  color: white;

  display:flex;
  align-items: center;
  justify-content: center;
}

#BookingAssistantChatHeaderExit:hover{
  cursor:pointer;
}

#BookingAssistantChatPanel{
  background-color: aliceblue;
}
