name: TigerTix CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:

  # Run regression tests for frontend and backend
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      # Frontend

      - name: Install dependencies
        working-directory: ./frontend
        run: npm install

      - name: Run tests
        working-directory: ./frontend
        run: npm test -- --watchAll=false


      # Backend

      - name: Install backend dependencies
        working-directory: ./backend
        run: npm install
      
      - name: Run client service tests
        working-directory: ./backend/client-service
        run: npm test -- clientRoutes.test.js --watchAll=false

      - name: Run admin service tests
        working-directory: ./backend/admin-service
        run: npm test -- adminRoutes.test.js --watchAll=false
